$pushti:#AD1FEA;
$white:#FFFFFF;
$kulrang: #F2F4FF;
$ochkulrang : #F7F8FD;
$qora: #3A4374;
$qoraro : #647196;
$sabzi: #F49F85;
$havo: #62BCFA;
$blue:#4661E6;
$red : #D73737;


$pushtiH : #C75AF6;
$blueH : #7C91F9;
$blackH : #656EA3; 
$redH : #E98888;